System/Semanta/alternative.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://semanticdesktop.org/services/textanalyticsservice" xmlns:tns="http://semanticdesktop.org/services/textanalyticsservice" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://net.java" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns2="http://keyphraserec.services.semanticdesktop.org" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://semanticdesktop.org/services/textanalyticsservice">
      <xsd:complexType name="ArrayOfString">
	<xsd:sequence>
	  <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSpeechActs">
	<xsd:complexType>
	  <xsd:sequence>
	    <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
	    <xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="tns:ArrayOfString"/>
	    <xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
	  </xsd:sequence>
	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getSpeechActsResponse">
	<xsd:complexType>
	  <xsd:sequence>
	    <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfString"/>
	  </xsd:sequence>
	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSpeechActsResponse">
    <wsdl:part name="parameters" element="tns:getSpeechActsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSpeechActsRequest">
    <wsdl:part name="parameters" element="tns:getSpeechActs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TextAnalyticsService">
    <wsdl:operation name="getSpeechActs">
      <wsdl:input name="getSpeechActsRequest" message="tns:getSpeechActsRequest">
      </wsdl:input>
      <wsdl:output name="getSpeechActsResponse" message="tns:getSpeechActsResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TextAnalyticsServiceHttpBinding" type="tns:TextAnalyticsService">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSpeechActs">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getSpeechActsRequest">
	<wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSpeechActsResponse">
	<wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextAnalyticsService">
    <wsdl:port name="TextAnalyticsServiceHttpPort" binding="tns:TextAnalyticsServiceHttpBinding">
      <wsdlsoap:address location="http://localhost:8181/services/TextAnalyticsService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
